# KNN

In [19]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [20]:
df = pd.read_csv('zoo.csv')

In [21]:
df.head(10)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
7,carp,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1

In [22]:
X = df.iloc[:, 1:-1]
y = df.iloc[:, -1]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [24]:
classifier = KNeighborsClassifier()

In [25]:
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [26]:
predictions = classifier.predict(X_test)

In [17]:
print(predictions)

[2 1 5 1 2 6 4 1 2 4 4 5 6 6 1 1 4 2 1 1 1]

In [27]:
pd.DataFrame({'True Label': y_test,
             'Predicted Label': predictions,
            'Correct': y_test == predictions})

    True Label  Predicted Label  Correct
53           7                6    False
19           1                4    False
26           5                5     True
43           2                2     True
34           4                4     True
72           7                6    False
21           2                2     True
49           1                1     True
44           1                1     True
66           1                4    False
65           1                1     True
3            1                1     True
24           6                6     True
40           6                6     True
95           2                2     True
41           2                2     True
23           2                2     True
93           1                1     True
50           1                1     True
9            1                1     True
79           2                2     True

In [28]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[7, 0, 2, 0, 0, 0],
       [0, 6, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 2, 0],
       [0, 0, 0, 0, 2, 0]])